<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    hello world
    

</body>
    <ul>
        {% for categoria in categorias %}
           <li> {{ categoria.id }} - {{ categoria.nome }} 
           <a href="{% url 'editar' categoria.id %}">editar</a>
           <a href="{% url 'delete' categoria.id %}">delete</a>
        </li>
        {% endfor %}
    </ul>

    <form action="{% url 'salvar' %}" method="post">
        {% csrf_token %}
        <input type="text" name="nome">
        <button type="submit">salvar</button>
    </form>
    
    Produtos:
<ul>
{% for produto in produtos %}
    <li> {{produto.id}} {{produto.nome}} - {{produto.descricao}} - {{produto.categoria}}
        <a class="btn btn-outline-danger" href="{% url 'delete_produto' pk=produto.id %}">Delete It</a>
    </li>
{% endfor %}
</ul>

<form action="/add_produto/" method="post">
    {% csrf_token %}
    <label for="nome"> Nome:</label>
    <input id="nome" type="text" name="nome" value="">
    
    <label for="descricao">Descricao: </label>
    <input id="descricao" type="text" name="descricao" value="">

    <select class="form-control mb-4" name="categoria">
        <option selected disabled>Select Categoria</option>

        {% for categoria in categorias %}
        <option value="{{categoria.id}}">{{categoria.nome}}</option>
        {% endfor %}

    </select>

    <input type="submit" value="Enviar">
</form>

Editar:
<form action="/edit_produto/" method="post">
    {% csrf_token %}
    
    <label for="id"> Id:</label>
    <input id="id" type="text" name="id" value="">

    <label for="nome"> Nome:</label>
    <input id="nome" type="text" name="nome" value="">
    
    <label for="descricao">Descricao: </label>
    <input id="descricao" type="text" name="descricao" value="">

    <select class="form-control mb-4" name="categoria">
        <option selected disabled>Select Categoria</option>

        {% for categoria in categorias %}
        <option value="{{categoria.id}}">{{categoria.nome}}</option>
        {% endfor %}

    </select>
    <input type="submit" value="Enviar">
</form>


Listas ---------------------------

<ul>
    {% for lista in listas %}
        <li> <a href="{% url 'show_lista' pk=lista.id %}"></a>{{lista.id}} {{lista.nome}} </a> -
            <a class="btn btn-outline-danger" href="{% url 'delete_lista' pk=lista.id %}">Delete It</a>
       
        </li>
        </li>
    {% endfor %}
    </ul>
    
Adicionar:
    <form action="/add_lista/" method="post">
        {% csrf_token %}
        <label for="nome"> Nome:</label>
        <input id="nome" type="text" name="nome" value="">
        <input type="submit" value="Enviar">
    </form>

    Editar:
    <form action= "{% url 'edit_lista'%}" method="post">
        {% csrf_token %}
        
        <label for="id"> Id:</label>
        <input id="id" type="text" name="id" value="">
    
        <label for="nome"> Nome:</label>
        <input id="nome" type="text" name="nome" value="">
    
        <input type="submit" value="Enviar">
    </form>
    

    Add Produto in Lista:

<form action="{% url 'add_prod_in_lista' %}" method="post">
    {% csrf_token %}
    
    <label for="idLista"> idLista:</label>
    <input id="idLista" type="text" name="idLista" value="">

    <label for="idProduto"> idProduto:</label>
    <input id="idProduto" type="text" name="idProduto" value="">

    <label for="quantidade"> Quantidade:</label>
    <input id="quantidade" type="text" name="quantidade" value="">

    <label for="idSecondOption"> idSecondOption:</label>
    <input id="idSecondOption" type="text" name="idSecondOption" value="">
    
    <label for="importancia"> importancia:</label>
    <input id="importancia" type="text" name="importancia" value="">

    <input type="submit" value="Enviar">
</form>



Receitas ---------------------------
<ul>
    {% for receita in receitas %}
        <li> {{receita.id}} {{recita.nome}} - {{receita.descricao}} - {{receita.categoria}}
            <a class="btn btn-outline-danger" href="{% url 'delete_receita' pk=receita.id %}">Delete It</a>
        </li>
    {% endfor %}
    </ul>

    Adicionar:
    <form action="/add_receita/" method="post">
        {% csrf_token %}
        <label for="nome"> Nome:</label>
        <input id="nome" type="text" name="nome" value="">
        
        <label for="descricao">Descricao: </label>
        <input id="descricao" type="text" name="descricao" value="">
    


        {% for receita in receitas %}
        <option value="{{receita.id}}">{{receita.nome}}</option>
        {% endfor %} 

    
        <input type="submit" value="Enviar">
    </form>

    
    Editar:
<form action="/edit_receita/" method="post">
    {% csrf_token %}
    
    <label for="id"> Id:</label>
    <input id="id" type="text" name="id" value="">

    <label for="nome"> Nome:</label>
    <input id="nome" type="text" name="nome" value="">
    
    <label for="descricao">Descricao: </label>
    <input id="descricao" type="text" name="descricao" value="">


    <input type="submit" value="Enviar">
</form>

Add Produto in Receita:

<form action="{% url 'add_prod_in_receita' %}" method="post">
    {% csrf_token %}
    
    <label for="idReceita"> idReceita:</label>
    <input id="idReceita" type="text" name="idReceita" value="">

    <label for="idProduto"> idProduto:</label>
    <input id="idProduto" type="text" name="idProduto" value="">

    <label for="quantidade"> Quantidade:</label>
    <input id="quantidade" type="text" name="quantidade" value="">

    <input type="submit" value="Enviar">
</form>

Adicionar mercado:

{% for supermercado in supermercados %}
        <option value="{{supermercado.id}}">{{supermercado.nome}}</option>
        {% endfor %}

        <form action="{% url 'add_mercado' %}" method="post">
            {% csrf_token %}

    <input type="text" name="nome" id="" placeholder="Digite o nome do mercado">
    <input type="text" name="endereco" id="" placeholder="Digite o endereço">
    <input type="submit" value="Adicionar mercado" >
</form>
</html>

</form> 
</body>
</html>