{% extends 'main.html' %}

{% block content %}
Nova Lista: <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#ModalList" onclick="showModal()"><i class="fa fa-plus"></i></button>
<ul>
  {% for lista in listas %}
  <li> 
    <a href="{% url 'show_lista' pk=lista.id %}">{{lista.id}} - {{lista.nome}} </a> -
    <a class="btn btn-outline-danger" href="{% url 'delete_lista' pk=lista.id %}">Delete</a>
    <a class="btn btn-outline-danger" href="{% url 'show_lista' pk=lista.id %}">EDITAR</a>
  </li>
  {% endfor %}
</ul>

<div class="modal fade" id="ModalList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nova Lista</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/add_lista/" method="post">
                {% csrf_token %}
                <label for="nome"> Nome:</label>
                <input id="nome" type="text" name="nome" value="">
                <input type="submit" value="Submit">
            </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}