{% extends 'main.html' %}

{% block content %}
Novo mercado: <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#ModalList" onclick="showModal()"><i class="fa fa-plus"></i></button>
<ul>
    {% for supermercado in supermercado %}
        <li> <a href="{% url 'add_mercado' %}"> {{supermercado.nome}} - {{supermercado.endereco}} </a>
        </li>
    {% endfor %}
    </ul>

<div class="modal fade" id="ModalList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Novo mercado</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/add_mercado/" method="post">
              {% csrf_token %}
              <label for="nome"> Nome:</label>
              <input id="nome" type="text" name="nome" value="">
              <p>
                <label for="endereco">Endereco: </label>
                <input id="endereco" type="text" name="endereco" value="">
              <p>
               
                <input type="submit" value="Submit">
            </form>
        </div>
      </div>
    </div>
</div>

{% endblock content %}